@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Sora:wght@400;700&family=Golos+Text:wght@400..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #caa05c;
	--text: #1c1c1d;
	--body: #f6f6f6;
	--white: #fff;
	--black: #000;

  --Sora: "Sora", sans-serif;
	--GolosText: "Golos Text", sans-serif;
	--AudioWide: "Audiowide", sans-serif;

	--transition-regular: 0.3s;
	--transition-slow: 0.6s;
}



body {
  background-color: var(--body);
}

.AudioWide {
	font-family: var(--AudioWide);
}
.Sora {
	font-family: var(--Sora);
}

.GolosText {
	font-family: var(--GolosText);
}
